{# src/Blogger/BlogBundle/Resources/views/Page/contact.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
{% import "Macros/form_elements.html.twig" as formElements %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="contact-top heading">
        <h3>CONTACT</h3>
    </div>
    {% for flashMessage in app.session.flashbag.get('blogger-error') %}
        <div class="blogger-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="contact-bottom">
        <div class="contact-text">
            <div class="col-md-8 contact-right">
                {{ form_start(form, { 'action': path('BloggerBlogBundle_contact'), 'method': 'POST' }) }}
                {{ form_errors(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_row(form.subject) }}
                {{ form_row(form.body) }}
                {{ formElements.recaptcha(captchaClientKey) }}
                {{ form_row(form.save) }}
                {{ form_end(form) }}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}