{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
    {% block content %}
        {% for blog in blogs %}
            <div class="about-two">
                <h2>
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">{{ blog.title }}</a>
                </h2>
                {% if blogs[0].image is defined %}
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}"><img
                                src="{{ asset(['images/', blog.image]|join) }}"/></a>
                {% endif %}
                {{ blog.blog |striptags|length > 1000 ? blog.blog|striptags|slice(0,1000) : blog.blog|striptags }}
                {{ blog.blog |striptags|length > 1000 ? '...' : '' }}
                <p>Posted by {{ blog.author }} on {{ blog.created|date('j F,Y') }}
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">comments({{ blog.comments|length }}
                        )</a>
                </p>
                <div class="about-btn">
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">Read More</a>
                </div>
                <ul>
                    <li><p>Share : </p></li>
                    <li><a href="#"><span class="fb"> </span></a></li>
                    <li><a href="#"><span class="twit"> </span></a></li>
                    <li><a href="#"><span class="pin"> </span></a></li>
                    <li><a href="#"><span class="rss"> </span></a></li>
                    <li><a href="#"><span class="drbl"> </span></a></li>
                </ul>
            </div>
        {% endfor %}
    {% endblock %}
