{# src/Blogger/BlogBundle/Resources/views/Page/index.html.twig #}
{% extends 'BloggerBlogBundle::layout.html.twig' %}
    {% block content %}
        {% if blogs[0] is defined %}
            <div class="about-two">
                <h2>
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blogs[0].id }) }}">{{ blogs[0].title }}</a>
                </h2>
                {% if blogs[0].image is defined %}
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blogs[0].id }) }}"><img
                                src="{{ asset(['images/', blogs[0].image]|join) }}"/></a>
                {% endif %}
                {{ blogs[0].blog |striptags|length > 1000 ? blogs[0].blog|striptags|slice(0,1000) : blogs[0].blog|striptags }}
                {{ blogs[0].blog |striptags|length > 1000 ? '...' : '' }}
                <p>Posted by {{ blogs[0].author }} on {{ blogs[0].created|date('j F,Y') }}
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blogs[0].id }) }}">comments({{ blogs[0].comments|length }}
                        )</a>
                </p>
                <div class="about-btn">
                    <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blogs[0].id }) }}">Read More</a>
                </div>
                <ul>
                    <li><p>Share : </p></li>
                    <li><a href="#"><span class="fb"> </span></a></li>
                    <li><a href="#"><span class="twit"> </span></a></li>
                    <li><a href="#"><span class="pin"> </span></a></li>
                    <li><a href="#"><span class="rss"> </span></a></li>
                    <li><a href="#"><span class="drbl"> </span></a></li>
                </ul>
            </div>
        {% endif %}
        {% set popBlog=blogs|slice(1) %}
        <div class="about-tre">
            {% for  blogMinilist in popBlog|batch(2) %}
                <div class="row match-my-cols">
                    {% for blog in blogMinilist %}
                        <div class="col-md-6 abt-left">
                            <h3>
                                <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">{{ blog.title }}</a>
                            </h3>
                            {% if blog.image is defined %}
                                <a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}"><img
                                            src="{{ asset(['images/', blog.image]|join) }}" alt=""/></a>
                            {% endif %}
                            {{ blog.blog |striptags|length > 500 ? blog.blog|striptags|slice(0,500) : blog.blog|striptags }}
                            {{ blog.blog |striptags|length > 500 ? '...' : '' }}
                            <p>
                                <label><a href="{{ path('BloggerBlogBundle_blog_show', { 'id': blog.id }) }}">Read
                                        More</a></label>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endblock %}
